.languages {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding-right: 0;
    list-style: none;
    font-weight: 700;
}

.languages li {
    padding: 1rem;
}